*{
  font-family: 'Montserrat', sans-serif;
}

/* UTILITY */



.bg-blue{
  background-color: #2C3E50;
}

.bg-darkblue{
  background-color: #1A252F;
}

.bg-green{
  background-color: #1ABC9C;
}

.row{
  margin: 0;
}

/* INIZIO NAVBAR */
.navbar{
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 0;
  border: none;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
}

.navbar-brand{
  font-size: 20px;
  font-weight: bold;
  line-height: 15px;
  display: inline-block;
}

.navbar-default .navbar-toggle{
  margin-top: 25px;
  padding: 10px 10px;
  border-radius: 10px;
  border-color: #888;
}

.navbar-default .navbar-nav>li>a{
  color: #FFFFFF;
}

/* FINE NAVBAR */
/* INIZIO INTRO */

.general-rule-intro{
  text-align: center;
  padding-top: 25%;
  color: #FFFFFF;
}

.general-rule-intro >img{
  width: 220px;
  padding-bottom: 5%;
}

.col-xs-12 > h1{
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0;
}

.divider-custom-icon{
  width: 30px;
  display: inline-block;
  margin: 0 10px;
}

.divider-custom .divider-custom-line{
  display: inline-block;
  width: 100%;
  max-width: 5rem;
  height: 0.30rem;
  background-color: #FFFFFF;
  border-radius: 1rem;
  margin-bottom: 2%;
}

.sez-intro .divider-custom-line{
  margin-bottom: 3%;
}

.sez-intro > p{
  margin: 30px 0;
  font-size: 15px;
  font-weight: bold;
}

/* FINE INTRO */

/* INIZIO MAIN */

/* FIRST SECTION */

.sez-portfolio{
  color: #2C3E50;
}

.cl-black{
  color: #2C3E50;
  margin-top: 10px;
  padding-top: 4px;
}

.sez-portfolio .divider-custom-icon{
  width: 30px;
}

.cl-black{
  background-color: #2C3E50 !important;
}

.sez-portfolio h3{
  font-weight: bold;
  margin-top: 40px;
  font-size: 22px;
}

.position{
  position: relative;
}

.photo{
  margin: 5% 0;
}

.photo img{
  width: 100%;
  border-radius: 10px;
}

.photo img:hover{
  cursor: pointer;
  opacity: 0.3;
  background-color: #1ABC9C;
  transition: 0.5s;
}

.layer{
  background-color: #1ABC9C;
  border-radius: 10px;
}

/* FIRST SECTION-PORTFOLIO */

/* SECOND SECTION-ABOUT */

.sez-about h3{
  color: #FFFFFF;
  font-size: 25px;
  font-weight: bold;
}

.ci-white{
  color: #FFFFFF;
}

.cl-white{
  background-color: #FFFFFF;
}

.ci-about{
  width: 30px;
}

.cl-about{
  margin-bottom: 4% !important;
}

.sez-about{
  padding: 0 20%;
  padding-bottom: 5%;
}

.sez-about p{
  color: #FFFFFF;
  margin: 15px 0;
  font-size: 15px;
  font-weight: bold;
}

.about-mrg-bottom{
  margin-bottom: 30px;
}

.btn{
  color: #FFFFFF;
  background-color: #1ABC9C;
  border-color: #FFFFFF;

}

.btn-default{
  background-image: none;
}

.fa-download{
  padding-right:10px;
}

/* SECOND SECTION-ABOUT */

/* THIRD SECTION CONTACT ME */

.contact-section{
  padding: 5% 20%
}

.contact-section h3{
  margin-top: 30px;
  color: #2C3E50;
}

.form-control{
  margin: 20px 0;
  padding: 25px 0px;
  font-size: 20px;
  color: #2C3E50;
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 0;
  box-shadow: none;
}

.contact-section .divider-custom-icon{
  width: 30px;
}

.contact-section .divider-custom .divider-custom-line{
  margin-bottom: 3%;
}

.contact-section .btn-default{
  padding: 5% 5%;
  border-radius: 10px;
}

/* THIRD SECTION CONTACT-ME */

/* FOOTER */

.footer-sec{
  color: #FFFFFF;
  padding: 10% 10%;
}

.footer-sec .mrg-foot{
  margin: 4% 0;
}

.footer-sec h4{
  font-size: 17px;
}

.footer-sec span{
  color: #1ABC9C;
}

.icon-foot{
  margin: 0 10px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5%;
}

.footer-sec2{
  font-size: 12px;
}

@media all and (min-width:768px) {
  /* INTRO */
  .general-rule-intro >img{
    width: 300px;
    padding-bottom: 5%;
  }

  .col-xs-12 > h1{
    font-size: 50px;
    font-weight: bold;
    margin: 20px 0;
  }

  .navbar-brand{
    font-size: 22px;
    line-height: 10px;
  }

  .navbar-default .navbar-nav>li>a {
  color:#FFFFFF;
  font-weight: bold;
  font-size: 18px;
  }

  .navbar-nav>li>a {
    line-height: 50px;
  }

  .sez-intro > p{
    font-size: 22px;
  }

  .sez-intro .divider-custom-icon{
    width: 25px;
  }

  .sez-intro .divider-custom-line{
    margin-bottom: 1%;
  }

  /* INTRO */

  /* SECTION PORTFOLIO */

  .sez-portfolio h3{
    font-size: 40px;
  }

  .divider-custom .divider-custom-line{
    max-width: 12rem;
  }

  .sez-portfolio .divider-custom-line{
    margin-bottom: 1.3%;
  }

  /* SECTION PORTFOLIO */

  /* SECTION ABOUT */

  #style-h3{
    font-size: 40px;
  }

  .ci-about{
    width: 30px;
  }

  .cl-about{
    margin-bottom: 2% !important;
  }

  .sez-about p{
    margin: 15px 0;
    font-size: 18px;
    padding: 10px 20px;
  }

  .sez-about{
    padding: 0 10%;
    padding-bottom: 10%;
  }


  /* SECTION ABOUT */

  /* SECTION CONTACT ME */

  .contact-section .divider-custom-icon{
    width: 30px;
  }

  .contact-section .divider-custom .divider-custom-line{
    margin-bottom: 2%;
    max-width: 10rem;
  }

  .contact-section h3{
    font-size: 45px;
    font-weight: bold;
  }

  .contact-section .btn-default{
    padding: 3% 5%;
    border-radius: 10px;
  }

  /* SECTION CONTACT-ME */

  /* FOOTER */

  .footer-sec{
    padding:0 8%;
  }

  .icon-foot{
    margin: 0 5px;
    padding: 4%;
  }

  .footer-sec2{
    padding: 5% 0;
  }

}

@media all and (min-width:992px){

  /* INTRO */

  .navbar-header {
    padding-left: 10%;
  }

  .mrg-top{
    margin-right: 10%;
  }

  .general-rule-intro{
    padding-top: 10%;
  }

  .general-rule-intro >img{
    width: 250px;
    padding-bottom: 2%;
  }

  .sez-intro .divider-custom-icon{
    width: 30px;
  }

  .sez-intro .divider-custom-line{
    margin-bottom: 0.7%;
  }

  /* INTRO */
  /* SECTION PORTFOLIO */

  .mrg-pfl{
    margin: 0 10%;
    margin-bottom: 5%;
  }

  .sez-portfolio h3{
      font-size: 50px;
  }


  .sez-portfolio .divider-custom-line{
    margin-bottom:0.8%;
  }

  /* SECTION PORTFOLIO */
  /* SECTION ABOUT */


  .sez-about h3{
    margin-top: 50px;
  }

  .sez-about p{
    margin-bottom: 50px;
  }

  .sez-about{
    padding: 0 15%;
    padding-bottom: 5%;
  }

  .ci-about{
    width: 30px;
  }

  .cl-about{
    margin-bottom: 1% !important ;
  }


  /* SECTION ABOUT */

  /* SECTION CONTACT-ME */

  .contact-section .btn-default{
    padding: 2% 2%;

  }

  .contact-section .divider-custom .divider-custom-line{
    margin-bottom: 1%;
    max-width: 15rem;
  }

  /* SECTION CONTACT-ME */

  /* FOOTER */

  .footer-sec{
    padding:0 20%;
  }

  .footer-sec2{
    padding: 3% 0;
  }
}
