*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* INIZIO NAVBAR */
.navbar{
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 0;
  border: none;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
}

.bg-blue{
  background-color: #2C3E50;
}

.navbar-brand{
  font-size: 20px;
  font-weight: bold;
  line-height: 15px;
  display: inline-block;
}

.navbar-default .navbar-toggle{
  margin-top: 25px;
  padding: 10px 10px;
  border-radius: 10px;
  border-color: #888;
}

.navbar-default .navbar-nav>li>a{
  color: #FFFFFF;
}

/* FINE NAVBAR */
/* INIZIO INTRO */
.bg-green{
  background-color: #1ABC9C;
}

.row{
  margin: 0;
}

.container{
  padding: 0;
  margin: 0;
}

.general-rule-intro{
  text-align: center;
  padding-top: 34%;
  color: #FFFFFF;
}

.general-rule-intro >img{
  width: 220px;
  padding-bottom: 5%;
}

.col-xs-12 > h1{
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0;
}

.divider-custom-icon{
  width: 10%;
  display: inline-block;
  margin: 0 10px;
}

.divider-custom .divider-custom-line{
  display: inline-block;
  width: 100%;
  max-width: 5rem;
  height: 0.30rem;
  background-color: #FFFFFF;
  border-radius: 1rem;
  margin-bottom: 3%;
}

.col-xs-12 > p{
  margin: 30px 0;
  font-size: 15px;
  font-weight: bold;
}

@media all and (min-width:768px) {
  .general-rule-intro >img{
    width: 300px;
    padding-bottom: 5%;
  }

  .col-xs-12 > h1{
    font-size: 50px;
    font-weight: bold;
    margin: 20px 0;
  }

  .navbar-brand{
    font-size: 22px;
    font-weight: bold;
    line-height: 10px;
    display: inline-block;
  }

  .navbar-default .navbar-nav>li>a {
  color:#FFFFFF;
  font-weight: bold;
  font-size: 18px;
  }

  .navbar-nav>li>a {
    line-height: 50px;
  }

  .col-xs-12 > p{
    margin: 30px 0;
    font-size: 22px;
    font-weight: bold;
  }
}

@media all and (min-width:992px){
  .navbar-header {
    padding-left: 10%;
  }

  .mrg-top{
    margin-right: 10%;
  }

  .general-rule-intro{
    padding-top: 10%;
  }

  .general-rule-intro >img{
    width: 250px;
    padding-bottom: 2%;
  }

  .divider-custom-icon{
    width: 40px;
  }

  .divider-custom .divider-custom-line{
    max-width: 20rem;
    height: 0.40rem;
    background-color: #FFFFFF;
    border-radius: 1rem;
    margin-bottom: 15px;
  }
}
